body{
    background-color:rgb(7, 70, 141);
}
h1{
    text-align: center;
    color: rgb(95, 8, 84);
    font-size: 45px;
}
#mealInput{
    width: 20%;
    margin-left: 40%;
}
#searchBtn{
    color: rgba(74, 78, 7, 0.685);
    background-color: rgb(196, 233, 110);
}
#mealList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#mealList img{
    width: 500px;
}
.meal{
    border: 3px solid rgb(3, 104, 172);
    border-radius: 27px;
    padding: 15px;
    margin: 15px 15px;
    width: 500px;
}
.mealName{
    font-size: 25px;
    color: rgb(92, 8, 43);
}